* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

/* Begining Of Navbar */
nav {
  height: 10vh /*17vh*/;
  color: white;
  background: #cca643;
  box-sizing: border-box;
  border-bottom-color: #cca643;
  border-bottom-style: double;
  display: flex;
  padding-bottom: 1%; 
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-right: 3%;
  margin-left: auto;
  padding-top: 1%;
}
.nav-links li button {
    background-color: #cca643; 
    color: white;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold; 
    border: 1px solid white;
    width: 200px;
  }
.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.nav-links li a:hover {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.6s ease;
}
.landing {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing h1 {
  margin: 100px;
  font-size: 50px;
  color: #ae5fce;
}
.logo{
    padding-top: 4px;
    height: 60px;
    width: 120px;
  }
  @media screen and (max-width: 1030px) {
    nav{
    flex-direction: column;
    align-content: center;
    text-align: center;
    align-items: center;
    height: auto;
    border-bottom-style: none;
    }
    .nav-links {
  display: flex;
  list-style: none;
  width: 70%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.logo{
    height: 70px;
    width: 120px;
    top: 50%;
}
.nav-links li button {
    background-color: #cca643; 
    color: white;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #cca643;
    padding: 0px;
    font-weight: bold; 
    width: auto;
    font-size: 16px;
  }
  }
@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: #85a093;
    margin: 5px;
  }
  .nav-links li button {
    background-color: #cca643; 
    color: white;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold; 
    border: 1px solid white;
    width: 200px;
  }
  nav {
    position: relative;
    border-bottom-style: none;
    align-content: inherit;
    text-align: initial;
    align-items: inherit;
    border-bottom-style: none;
    height: 10vh;
  }
  .logo{
    height: 60px;
    width: 100px;
    top: 50%;
}
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 40%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: linear-gradient(to right, #85a093 50%,#cca643 50%) no-repeat scroll right bottom / 210% 100% #cca643;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 20px;
    color: white;
  }
  .nav-links li a:hover {
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.6s ease;
}
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 1.0s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 1.2s;
  }
  li.fade {
    opacity: 1;
  }
}

/* End Of Navbar */

/* Begining of carousal */
.section-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url(img/bg.jpg);
    background-position: 50% 50%;
    
}
.image-fixing {
    border-width: 0;
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.center-alignment {
  text-align: center;
  color: white;
}

.area {
    width: 80%;
    margin: 0 auto;
}

.section-1 .area-1 {
    min-height: 740px;
}

@media (max-width: 767px){
    .section-1 .area-1 {
        min-height: 482px;
    }
}
@media (max-width: 991px){
    .section-1 .area-1 {
         min-height: 382px;
    }
}
@media (max-width: 1199px){
    .section-1 .area-1 {
        min-height: 552px;
    }
}
.section-1 .text-1 {
    font-size: 3.6rem;
    padding-top: 103px;
    margin: 0px auto 0px;
    font-family: 'Roboto Slab', serif !important;
}

.text {
    word-wrap: break-word;
    
}

@media (max-width: 767px){
    .section-1 .text-1 {
        font-size: 3rem;
    }
}

h1:not(.title) {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.1;
}

.section-1 .line-1 {
    width: 150px;
    height: 4px;
    margin: 32px auto 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
}

@media (max-width: 1199px){
.section1 .flex-container-wrap-1 {
    margin-right: initial;
    margin-left: initial;
}
}
.section-1 .flex-container-wrap-1 {
    margin: 73px auto 0px 0;
}
.flex-container-width {
    width: 100% ;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.flex-row {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100%;
    max-width: 100%;
}
.container{
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  border: 10px solid transparent;
  min-height: 100px;
}
@media (max-width: 650px){
.container{
  flex: 0 0 100%;
  max-width: 100%;
  border: 10px solid transparent;
  min-height: 100px;
}
}
.container-1{
  flex: 0 0 50%;
  max-width: 50%;
  border: 10px solid transparent;
  min-height: 350px;
}
@media (max-width: 650px){
.container-1{
  flex: 0 0 100%;
  max-width: 100%;
  border: 10px solid transparent;
  min-height: 300px;
}
}
.section-1 .icon {
    height: 84px;
    width: 84px;
    background-image: none;
    margin: 33px auto 0;
    padding: 20px;
    border-radius: 50%;
    display: block;
    line-height: 0;
    text-align: left;
    color: white;
}

.icon-1{
   background-color: #f1a40e;
}
.icon-2{
   background-color: #1daad2;
}
.icon-3{
   background-color: #16b6a1;
}
.svg-link {
    width: 100%;
    height: 100%;
    fill: currentColor;
}
@media (max-width: 1199px){
.section-1 .text-2 {
    margin-left: 0;
    margin-right: 0;
}
}
.section-1 .text-2 {
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin: 29px 20px 0;
}
h4{
  padding: 0px;
  font-weight: 400;
  line-height: 1.2;
  font-family: Roboto,sans-serif;
}

@media (max-width: 1199px){
.section-1 .text-3 {
    margin-left: 0;
    margin-right: 0;
}
}
.section-1 .text-3 {
    font-size: 0.875rem;
    margin: 20px 20px 30px;
    color: white;
}
p:not(.u-text-variant) {
    margin-top: 20px;
    margin-bottom: 20px;
}

}

/* carousal */

#stage {
    min-height: 392px;
  }
  #stage img {
    width: 36%;
    height: 340px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 14%;
    position: absolute;
  }
@media (max-width: 1078px){
#stage img {
    width: 40%;
    height: 340px;
  }
}
@media (max-width: 650px){
#stage img {
    width: 85%;
    height: 230px;
  }
}

  #stage img:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 1s;
    z-index: 20;
  }
  #stage img:nth-of-type(2) {
    z-index: 10;
  }
  #stage img:nth-of-type(n+3) {
    display: none;
  }

  @keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
  }
  
  .icon-service {
    height: 100px;
    width: 100px;
    background-image: none;
    margin: 60px auto;
    padding: 20px;
    border-radius: 50%;
    display: block;
    line-height: 0;
    text-align: left;
    color: white;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.icon-service-1{
   background-color: transparent;
   border:1px solid white;
}
.line-service {
    width: 280px;
    height: 4px;
    margin-top: 22px;
    margin-left: 20px;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-color: #16b6a1;
    border-width: 2px;
    border-style: solid;
}
.text-4{
    margin-top: 22px;
    margin-left: 25px;
    text-align: left;
    color: white;
    font-family: Montserrat, sans-serif !important;
    letter-spacing: 3px;
}
.para-service{
    margin-top: 25px;
    margin-right: 25px;
    text-align: left;
    color: white;
    font-family: Montserrat, sans-serif !important;
    letter-spacing: 2px;
}
@media (max-width: 1050px){
 .para-service{
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    \margin-bottom: 25px;
    text-align: left;
    color: white;
    font-family: Montserrat, sans-serif !important;
    letter-spacing: 2px;
}
}
.container-service{
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  border: 10px solid transparent;
  min-height: 100px;
}
@media (max-width: 1050px){
.container-service{
  flex: 0 0 100%;
  max-width: 100%;
  border: 10px solid transparent;
  min-height: 100px;
}
}
.btn-1 {
    background-color: transparent; 
    color: white;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold; 
    border: 1px solid white;
    width: 200px;
    margin-left: 30px;
    margin-top: 20px;
}
.btn-2 {
    background-color: transparent; 
    color: white;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold; 
    border: 1px solid white;
    width: 160px;
}